.root {
    -fx-background-color: #FFDEDE;
}

StackPane {
    -fx-background-color: #FFDEDE;
}

VBox
{
    -fx-padding: 20;
    -fx-background-color: #FAF0E4;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 4);
}

.game-grid {
    -fx-padding: 20px;
}

.game-grid > * {
    -fx-padding: 10px;
    -fx-max-width: 40px;
}

.main-label {
    -fx-font-size: 25px;
    -fx-padding: 10px;
    -fx-margin: 10px;
}